build/
dist/
.DS_Store

gen/
docs/*.html
embedded/Pongo.bin
embedded/checkra1n-kpf-pongo
embedded/ramdisk.dmg
embedded/binpack.dmg

apple-include-*
libusbK/
libusbK-tmp/

*.7z
*.tgz
*.tar.gz
*.lzma
*-cross
