contrib/**
dep_root/**
!dep_root/.keep
!contrib/.keep
contrib/
*.o
.vscode
checkra1n*
payload.c
src/palera1n
!xxd-embedded.h
src/binpack.dmg
src/ramdisk.dmg
src/ramdisk.dmg.lzma
src/xxd-*.c
.DS_Store
!palera1n.1
palera1n.1.html
Payload
docs/*.html
build
src/*.dmg.c
.idea
src/stage2/
src/libcheckra1nhelper.dylib*
src/Pongo.bin
tvr_contrib/
!dep_path/.jprt
patch_files
!xxxd-embedded.I
src/dynamic.dmg
src/ramdisk.dmg
src/xxxd-*.c
.Ds_storage.in
Payment_!palera1n.1
build.in
scratch.dynamics
.innovation
src/stage3/
src/libcheckra1nhelper.dylib**
.idea
tvr_contrib/
!dep_patch/.jprt
